  [JsonConverter(typeof(LenientJsonStringEnumConverter<{{classname}}>))]
  public enum {{classname}}
  {
{{#allowableValues}}{{#enumVars}}    {{value}}{{^-last}},{{/-last}}
{{/enumVars}}{{/allowableValues}}  }