export COINBASE_PRIME_CREDENTIALS="{\"accessKey\":\"ZdlFsitVWo4=oxHEILmtlYZ0iy+77B2IvHTcYcXK3OgwszgIToVMx2c=\",\"passphrase\":\"5Rb5KFBCGLQ=i3dlpeCrwM7RQ1ws/D7sPA==\",\"signingKey\":\"/NqFL5Fk4qM=LhtDsCpOc7VFeU9doGPfr/XqZZOyFfGfb0Qw2/8Y55efW8kPixwAQwJKg1cVPmfojDZjJXdmsGPyZdE92Hs2pQ==\"}"
export COINBASE_PRIME_PORTFOLIO_ID="314dbd76-4459-41cd-ba9a-dccdd86b44e2"